*+* {
  margin: 1% 0px;
}

body {
  font: 1em sans-serif;
  margin: 0px auto;
  width: 75%;
  text-align: center;
}

h1 {
  color: rgb(180, 0, 34);
}

input {
  height: 2em;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 5px;
  border-style: inset;
  padding-left: .5%;
}

label {
  display: block;
  margin-bottom: 0px;
}

a {
  padding: 5px;
  background-color: rgba(104, 211, 123, 0.51);
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgb(104, 211, 123);
}

a[name='submit'] {
  /*display: block;*/
}

#rate {
  font-size: 6em;
  color: darkgreen;
}

#ruleContainer a {
  float: right;
}

#ruleContainer div{
  border: 2px solid grey;
  border-radius: 5px;
  padding: 1%;
  box-shadow: 0px 6px 6px -5px rgb(64, 64, 64);
  overflow: auto;
  margin: 4% auto;
  text-align: initial;
  width: 50%;
}

.clear {
  clear:both;
  line-height:0;
}
